* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
    background: aqua;
    text-align: center;
  }

.game-field {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.game-field-cell {
  width: 100px;
  height: 100px;
  display: flex;
  border: 1px solid white;
  margin: 0;
}
